{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MoveFit{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'treino_app/style.css' %}">
</head>
<body>

<header>
    <h1>MoveFit</h1>
    {% if user.is_authenticated %}
      <p>
        Usuário: {{ user.username }}
        |
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit" style="background:none;border:none;color:blue;cursor:pointer;padding:0;">
            Sair
          </button>
        </form>
      </p>
    {% endif %}
    <hr>
</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
